---
- name: Install custom yum repositories
  # Although argument splatting is marked as deprecated:
  #
  # [DEPRECATION WARNING]: Using variables for task params is unsafe,
  # especially if the variables come from an external source like facts. This
  # feature will be removed in a future release.
  #
  # The core team had a a change of heart and it is actually being preserved:
  # https://github.com/ansible/ansible/pull/43798
  ansible.builtin.yum_repository: "{{ item }}"
  loop: "{{ libvirt_host_custom_yum_repos | default([]) }}"
  become: true

- name: Ensure libvirt packages are installed
  ansible.builtin.package:
    name: "{{ libvirt_host_libvirt_packages | select | list }}"
    state: present
  register: result
  until: result is success
  retries: 3
  become: True

# NOTE: QEMU emulators are available in EPEL on CentOS 7.
- name: Ensure the EPEL repository is enabled
  ansible.builtin.yum:
    name: epel-release
    state: present
  register: result
  until: result is success
  retries: 3
  become: True
  when:
    - ansible_facts.os_family == "RedHat"
    - ansible_distribution != 'Fedora'
    - libvirt_host_qemu_emulators | length > 0

- name: Ensure QEMU emulator packages are installed
  ansible.builtin.package:
    name: "{{ package }}"
    state: present
  loop: "{{ libvirt_host_qemu_emulators | flatten(levels=1) }}"
  # NOTE(mgoddard): CentOS 8 does not provide separate packages per-emulator.
  when: ansible_facts.os_family != "RedHat" or ansible_facts.distribution_major_version | int == 7
  register: result
  until: result is success
  retries: 3
  become: True
  vars:
    package: "qemu-system-{{ item }}"
