[defaults]
remote_tmp = /tmp
collections_paths = ../community-collections:~/.ansible/collections:/usr/share/ansible/collections

[ssh_connection]
pipelining = True
ssh_args = -4 -o ControlMaster=auto -o ControlPersist=6000s

