<secret ephemeral='no' private='yes'>
  <uuid>{{ item.name | to_uuid }}</uuid>
  <description>{{ item.name }} pool secret</description>
  <usage type='ceph'>
    <name>{{ item.name }}</name>
  </usage>
</secret>
