<network {% if item.ipv6 is defined %}ipv6='yes'{% endif %} connections='1'>
  <name>{{ item.name }}</name>
  <forward mode='{{ item.mode }}'/>
  <bridge name='{{ item.bridge }}'{% if item.zone is defined %} zone='{{ item.zone }}'{% endif %}/>
{% if item.mode == 'route' or item.mode == 'nat' %}
  <domain name='{{ item.domain|default(item.name) }}'/>
  <ip address='{{ item.ip }}' netmask='{{ item.netmask }}'>
  {% if item.dhcp_start is defined and item.dhcp_end is defined %}
      <dhcp>
        <range start='{{ item.dhcp_start }}' end='{{ item.dhcp_end }}'/>
      </dhcp>
  {% endif %}
  </ip>
  {% if item.routes is defined %}
    {% for route in item.routes %}
    <route address="{{ route.address }}" prefix="{{ route.prefix }}" gateway="{{ route.gateway }}" {% if route.metric is defined %} metric='{{ route.metric }}' {% endif %}/>
    {% endfor %}
  {% endif %}
  {% if item.ipv6 is defined and item.ipv6_prefix is defined %}
  <ip family='ipv6' address='{{ item.ipv6 }}' prefix='{{ item.ipv6_prefix }}'>
  </ip>
  {% endif %}
  {% if item.routesv6 is defined %}
    {% for route in item.routesv6 %}
    <route family="ipv6" address="{{ route.address }}" prefix="{{ route.prefix }}" gateway="{{ route.gateway }}" {% if route.metric is defined %} metric='{{ route.metric }}' {% endif %}/>
    {% endfor %}
  {% endif %}
{% endif %}
</network>
