<pool type='{{ item.type }}'>
  <name>{{ item.name }}</name>
  {% if 'capacity' in item %}
  <capacity>{{ item.capacity }}</capacity>
  {% endif %}
  {% if item.type == 'lvm2' or item.type == 'zfs' %}
  <source>
    <name>{{ item.source }}</name>
    {% if item.type == 'lvm2' %}
    <format type='lvm2'/>
    {% endif %}
  </source>
  {% endif %}
</pool>
