<pool type='{{ item.type }}'>
  <name>{{ item.name }}</name>
  {% if item | selectattr('capacity', 'defined') | list %}
  <capacity>{{ item.capacity }}</capacity>
  {% endif %}
  <target>
    <path>{{ item.path | default('placeholder_value') }}</path>
  </target>
</pool>
