# {{ ansible_managed }}
{% for key, value in libvirt_host_qemu_conf.items() %}
{# While the value is not JSON formatted, it is close enough - strings need to be double quoted. #}
{{ key }} = {{ value | to_json }}
{% endfor %}
